<h2>Período de Licencia</h2>

<h3>Agregar Licencias de Notario: <%= @member.nombre%></h3>
<div class="container">

  <%= render 'form', member: @member %>
</div>
<%= debug(flash) if Rails.env.development? %>