<%# encoding: utf-8 %>
<div class="row">
  <h1>Correo de Prueba</h1>
</div>
<div class="row">
  <p>
    Estimado usuario del sistema de gestión del Colegio de Notarios de Aguascalientes,
  </p>
  <p>Este correo ha sido enviado a todos los administradores para probar el envío a través del sistema SendGrid.</p>
  <p>Si usted recibió este correo significa que el sistema funciona correctamente y los Notarios recibirán los correos programados para sus cumpleaños.</p>
</div>
<div class="row center">
  <p><br> </p>
  <p>Atentamente</p>
  <p>Luis Fernando Flores Oviedo</p>
  <p>Programador</p>
</div>