<%# encoding: utf-8 %>
  <div class="row bg-2">
    <h2>¡Feliz cumpleaños Notario <%= @miembro.nombre %>!</h2>
    <p>
      <%= @mensaje.texto.html_safe %>
    </p>

  </div>
  <div class="row">

  </div>
  <div class="row center">
    <p> </p>
    <p> </p>
    <p>Atentamente</p>
    <p><%= @presi.nombre %></p>
    <p>Presidente</p>
  </div>
