<%# encoding: utf-8 %>
<div class="container-fluid">

  <div class="row bg-2">
    <h2>¡Feliz cumpleaños Notario <%= @miembro.nombre %>!</h2>
    <p>
      <%= @mensaje.texto.html_safe %>
    </p>

  </div>

</div>
