<%# encoding: utf-8 %>
<h1>Notificación de cumpleaños</h1>

<p>
  Le recordamos que el Notario No. <%= @cumple.numero %>, <%= @cumple.nombre %> celebra su cumpleaños el día de hoy.
</p>
<p><%= @mensaje.texto %></p>
