<% provide(:title, "Usuarios") %>
<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-6">
      <h2>Agregar usuario nuevo</h2>

      <%= render 'form', user: @user %>

    </div>
    <div class="col-md-2">
      <p>Navegación</p>
      <nav class="nav flex-column">
        <%= link_to 'Usuarios', users_path, class: "nav-link" %><br>
        <%= link_to 'Inicio', root_path, class: "nav-link" %>
      </nav>
    </div>
  </div>
</div>
