<h2>Entrega de Reconocimientos</h2>
  <h3>Reconocimientos de Notario: <%= @member.nombre%></h3>
  <div class="container">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-2">
      <%= render 'form', member: @member %>
    </div>
  </div>