<footer class="footer">
  <small>
    Luis Fernando Flores Oviedo - fernando.flores@gmail.com -
  </small>
  <nav>
      <ul>
        <li><%= link_to "Ayuda",  help_path %></li>
      </ul>
  </nav>
</footer>
