<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%# encoding: utf-8 %>
    <style>
      /* Email styles need to be inline */
      table {
        border: 0px;
        padding: 5px;
        border-collapse: collapse;
      }

      th {
        background-color: #D2691E;
        color: #FFE4B5;
        padding: 10px;
      }

      td {
        background-color: #FFE4B5;
        color: #cc9900;
        padding: 10px;
        text-align: center;
      }

    </style>
  </head>

  <body>
    <table>
      <tr>
        <th ><%= image_tag("logobNotarios.png", size: "100x90", alt: "Colegio de Notarios de Aguascalientes") %></th>
        <th colspan="2"><h1 style="font-family:Tahoma;border:0px;">Colegio de Notarios de Aguascalientes</h1></th>
      </tr>
      <tr>
        <td colspan="2"><%= yield %></td>
      </tr>
    </table>


  </body>
</html>
